<a href="https://colab.research.google.com/github/tenacioussami/first-repo/blob/main/Assignment__3_NumPy_and_Pandas_for_Data_Science_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

In [ ]:
from google.colab import drive
import warnings
warnings.filterwarnings('ignore')

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
file_path = '/content/drive/MyDrive/datasets/StudentsPerformance.csv'
columns = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
df = pd.read_csv(file_path, names=columns)  # No header in raw CSV
print("Dataset loaded successfully. Shape:", df.shape)

Dataset loaded successfully. Shape: (1001, 8)

In [ ]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
##df = pd.read_csv('StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:
print( df.head(10))
print(df.shape)
print(df.nunique())
print(df.describe())

   gender  race/ethnicity  parental level of education         lunch  \
0  gender  race/ethnicity  parental level of education         lunch
1  female         group B            bachelor's degree      standard
2  female         group C                 some college      standard
3  female         group B              master's degree      standard
4    male         group A           associate's degree  free/reduced
5    male         group C                 some college      standard
6  female         group B           associate's degree      standard
7  female         group B                 some college      standard
8    male         group B                 some college  free/reduced
9    male         group D                  high school  free/reduced

   test preparation course  math score  reading score  writing score
0  test preparation course  math score  reading score  writing score
1                     none          72             72             74
2                completed          69             90             88
3                     none          90             95             93
4                     none          47             57             44
5                     none          76             78             75
6                     none          71             83             78
7                completed          88             95             92
8                     none          40             43             39
9                completed          64             64             67
(1001, 8)
gender                          3
race/ethnicity                  6
parental level of education     7
lunch                           3
test preparation course         3
math score                     82
reading score                  73
writing score                  78
dtype: int64
        gender race/ethnicity parental level of education     lunch  \
count     1001           1001                        1001      1001
unique       3              6                           7         3
top     female        group C                some college  standard
freq       518            319                         226       645

       test preparation course math score reading score writing score
count                     1001       1001          1001          1001
unique                       3         82            73            78
top                       none         65            72            74
freq                       642         36            34            35

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
# Remove the header row
df_numeric = df.iloc[1:].copy()

# Convert score columns to numeric, coercing errors
df_numeric['math score'] = pd.to_numeric(df_numeric['math score'], errors='coerce')
df_numeric['reading score'] = pd.to_numeric(df_numeric['reading score'], errors='coerce')
df_numeric['writing score'] = pd.to_numeric(df_numeric['writing score'], errors='coerce')

math_scores = df_numeric['math score'].values
reading_scores = df_numeric['reading score'].values
writing_scores = df_numeric['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
print(f"Math - Mean: {np.mean(math_scores):.1f}, Median: {np.median(math_scores):.1f}, Std: {np.std(math_scores):.1f}, Min: {np.min(math_scores):.0f}, Max: {np.max(math_scores):.0f}")
print(f"Reading - Mean: {np.mean(reading_scores):.1f}, Median: {np.median(reading_scores):.1f}, Std: {np.std(reading_scores):.1f}, Min: {np.min(reading_scores):.0f}, Max: {np.max(reading_scores):.0f}")
print(f"Writing - Mean: {np.mean(writing_scores):.1f}, Median: {np.median(writing_scores):.1f}, Std: {np.std(writing_scores):.1f}, Min: {np.min(writing_scores):.0f}, Max: {np.max(writing_scores):.0f}")


total_above_80_math = df_numeric[df_numeric['math score'] > 80].shape[0]
print(f"Students with math > 80: {total_above_80_math}")

total_below_50_any = df_numeric[(df_numeric['math score'] < 50) | (df_numeric['reading score'] < 50) | (df_numeric['writing score'] < 50)].shape[0]
print(f"Students with any score < 50: {total_below_50_any}")

average = np.mean([math_scores, reading_scores, writing_scores])
print(f"Overall average score: {average:.1f}")

Math - Mean: 66.1, Median: 66.0, Std: 15.2, Min: 0, Max: 100
Reading - Mean: 69.2, Median: 70.0, Std: 14.6, Min: 17, Max: 100
Writing - Mean: 68.1, Median: 69.0, Std: 15.2, Min: 10, Max: 100
Students with math > 80: 176
Students with any score < 50: 188
Overall average score: 67.8

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:
print(df_numeric.isnull().sum())
print(df_numeric[df_numeric['math score']>100])
print(df_numeric[df_numeric['math score']<0])
print(df_numeric.describe())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []
Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df_numeric.copy() # Use df_numeric which has scores as numbers and header removed
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

df_practice.loc[missing_math_idx, 'math score'] = np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

print("\nMissing values after creation:")
print(df_practice.isnull().sum())

# Step 3: Fill missing values
median_math = df_practice['math score'].median()
df_practice['math score'].fillna(median_math, inplace=True)

mean_writing = df_practice['writing score'].mean()
df_practice['writing score'].fillna(mean_writing, inplace=True)

# Step 4: Verify no missing values remain
print("\nMissing values after filling:")
print(df_practice.isnull().sum())

Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Missing values after creation:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64

Missing values after filling:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
print(df.head())
print(df.tail())
print(df.shape())
print(df.columns)
print(df.dtypes)
print(df.info())

In [ ]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:
# Task 3.2: Basic Groupby Analysis

# ---------------------------
# 1. Group by 'gender'
# ---------------------------
gender_group = df_numeric.groupby('gender')
gender_avg = gender_group[['math score', 'reading score', 'writing score']].mean()
gender_count = gender_group.size()
gender_summary = gender_avg.copy()
gender_summary['student_count'] = gender_count
print(gender_summary)

# ---------------------------
# 2. Group by 'test preparation course'
# ---------------------------
prep_group = df_numeric.groupby('test preparation course')
prep_avg = prep_group[['math score', 'reading score', 'writing score']].mean()
benefit = prep_avg.loc['completed'] - prep_avg.loc['none']
most_benefit_subject = benefit.idxmax()

print("\nAverage scores by test preparation course:")
print(prep_avg)
print(f"\nSubject benefiting most from test prep: {most_benefit_subject}")

# ---------------------------
# 3. Group by 'parental level of education'
# ---------------------------
parent_group = df_numeric.groupby('parental level of education')
parent_math_avg = parent_group['math score'].mean()
parent_math_ranked = parent_math_avg.sort_values(ascending=False)

print("\nAverage math score by parental education level (ranked):")
print(parent_math_ranked)

# ---------------------------
# 4. Group by 'lunch' type
# ---------------------------
lunch_group = df_numeric.groupby('lunch')
lunch_avg = lunch_group[['math score', 'reading score', 'writing score']].mean()
lunch_count = lunch_group.size()
lunch_summary = lunch_avg.copy()
lunch_summary['student_count'] = lunch_count

print("\nAverage scores and student count by lunch type:")
print(lunch_summary)
print("-" * 60)

        math score  reading score  writing score  student_count
gender
female   63.633205      72.608108      72.467181            518
male     68.728216      65.473029      63.311203            482

Average scores by test preparation course:
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Subject benefiting most from test prep: writing score

Average math score by parental education level (ranked):
parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64

Average scores and student count by lunch type:
              math score  reading score  writing score  student_count
lunch
free/reduced   58.921127      64.653521      63.022535            355
standard       70.034109      71.654264      70.823256            645
------------------------------------------------------------

In [ ]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance


avg_math_by_gender = df_numeric.groupby("gender")["math score"].mean()
print("Average math score by gender:")
print(avg_math_by_gender)
print("Difference between male and female average:", avg_math_by_gender["male"] - avg_math_by_gender["female"])

over_all_avg = df_numeric[['math score', 'reading score', 'writing score']].mean()
print(over_all_avg)
print("Subject with highest overall average:", over_all_avg.idxmax())
print("Subject with lowest overall average:", over_all_avg.idxmin())


parantal_average_total_score = df_numeric.groupby('parental level of education')[['math score', 'reading score', 'writing score']].mean()
print(parantal_average_total_score)
print("Education level with highest student performance:", parantal_average_total_score.sum(axis=1).idxmax())

Average math score by gender:
gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
Difference between male and female average: 5.095011134430216
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
Subject with highest overall average: reading score
Subject with lowest overall average: math score
                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268
Education level with highest student performance: master's degree